In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline

In [3]:
import pickle

In [4]:
# load pickle data
df = pickle.load(open('./data/dataframe_images_100_100.pickle','rb'))

In [5]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,193,190,181,183,188,175,205,209,220,...,101,103,100,102,102,106,113,115,114,111
1,female,28,17,21,25,30,28,26,41,30,...,24,27,21,27,22,29,22,26,34,31
2,female,52,50,42,53,65,70,84,99,90,...,86,90,89,81,73,63,47,35,36,41
3,female,154,154,152,154,150,141,116,64,28,...,185,177,190,187,184,171,183,155,170,167
4,female,36,36,36,36,36,36,36,36,35,...,105,114,124,129,131,136,121,100,103,115

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6722 entries, 0 to 7363
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 64.2+ MB

In [7]:
# checking for missing values
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

No missing values found

# Min Max Scalling

In [8]:
# split the into two parts
X = df.iloc[:,1:].values # inpendent features
y = df.iloc[:,0].values # dependent

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [19]:
X_norm = scaler.fit_transform(X)

In [20]:
X_norm

array([[0.75686275, 0.74509804, 0.70980392, ..., 0.45098039, 0.44705882,
        0.43529412],
       [0.10980392, 0.06666667, 0.08235294, ..., 0.10196078, 0.13333333,
        0.12156863],
       [0.20392157, 0.19607843, 0.16470588, ..., 0.1372549 , 0.14117647,
        0.16078431],
       ...,
       [0.10196078, 0.10196078, 0.09803922, ..., 0.27058824, 0.24705882,
        0.23921569],
       [0.22745098, 0.23921569, 0.20392157, ..., 0.08627451, 0.08627451,
        0.09019608],
       [0.01960784, 0.01568627, 0.01176471, ..., 0.35294118, 0.30588235,
        0.3372549 ]])

In [21]:
X_norm.shape

(6722, 10000)

In [22]:
# female = 1, male = 0
Y_norm = np.where(y=='female',1,0)

In [23]:
Y_norm.shape

(6722,)

In [24]:
# save x and y in numpy zip
np.savez('./data/data_10000_norm.npz',X_norm,Y_norm)